*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/texture-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
    /*background-repeat: repeat-y; */
    color: #fff;
    display: grid;
    place-content: center;
}


#container{
    width: 960px;
    margin: auto;
    /* background: #ccc; */
   padding: 20px;
   /* border: 2px  dashed  black; */
}

header{
    text-align: center;
    /* background: tan;*/
    padding:  4rem 0;
    font-size: 5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* background-image: url(../img/texture-8.jpg);
    background-repeat: no-repeat;
    background-size: cover;  */
    margin-bottom: 2rem;
}

nav{
    /* background: #666; */
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    background-image: url(../img/texture-2.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    margin-bottom: 2rem;
}

nav a{
    /* border: 1px solid #fff; */
    background-color:  #0D2C0D;
    color: #A42222;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    
}

nav a:hover{
    background-color:   #A42222;
    color: #0D2C0D;
}


section, aside{
    display: inline-block;
    vertical-align: top;
}

section{
    width: 70%;
    /* background: #630101;
    padding: 20px; */
}


aside{
    text-align: center;
    width: 30%;
    /* background: blue; */
    /* padding: 30px; */
    /* background-image: url(../img/content-mid.png); */
    /* background-size: cover;  */
}

.aside-elm-home{
    padding: 2rem;
    background-image: url(../img/content-mid.png);
    background-size: cover; 
    margin-top: 4rem;
}

.aside-elm-home img{
    width: 100%;
}


.elm-home, .elm-home-1{
    display: grid;
    place-content: center;
    /* margin: 2rem 5rem; */
    padding: 3rem;
    /* background-color: #000; */
    margin-bottom: 2rem;
}

.elm-home{
    background-image: url(../img/content-mid.png);
    background-size: cover; 
}

.elm-home-1{
    background-image: url(../img/content-mid.png);
    background-repeat: repeat-y;
    background-size: contain; 
}

h1{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 40px;
    text-align: center;
    font-weight: bolder;
}

h2, h3{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-top: 30px; */
    padding-bottom: 40px;
    text-align: center;
    font-weight: bolder;
}
q{
    margin: 0 2rem;
}

blockquote{
    margin: 0 3rem;
    background: #1d1c1c;
    padding: 1rem;
}

.links-inicio{
    display: inline-flex;
    /* border: 3px solid red; */
    justify-content: space-between;
    font-size: 50px;
    padding: 2rem;
    background-image: url(../img/content-mid.png);
    background-size: contain; 
}

footer{
    display: grid;
    place-content: center;
    padding: 1rem;
    text-align: center;
    background-image: url(../img/content-mid.png);
    background-size: cover; 
    margin-bottom: 1rem;
    
}