*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/texture-1.jpg);
    background-size: contain; 
    /* background-size: cover; */
    background-repeat: repeat-y;
    color: #fff;
    display: grid;
    place-content: center;
}

.elm-home, .elm-home-1{
    display: grid;
    place-content: center;
    margin: 2rem 5rem;
    width: 1000px;
    padding: 3rem;
    /* background-color: #000; */
}

.elm-home{
    background-image: url(../img/content-mid.png);
    background-size: contain; 
}

.elm-home-1{
    background-image: url(../img/content-mid.png);
    background-repeat: repeat-y;
    background-size: contain; 
}

h1{
    font-size: 35px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 40px;
    text-align: center;
    font-weight: bolder;
}

h2, h3{
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-top: 30px; */
    padding-bottom: 40px;
    text-align: center;
    font-weight: bolder;
}


img{
    width:  900px;
    margin-top: 2rem;
    border: solid red 2px;
    border-radius: 10px;
}

footer{
    display: grid;
    place-content: center;
    padding: 1rem;
    text-align: center;
    background-image: url(../img/content-mid.png);
    background-size: contain; 
    margin-bottom: 1rem;
}